@using TimeHacker.Domain.Models.Tasks
@model DynamicTask
@{
}

<div>
    <div>@Model.Name</div>
    <div>@Model.Description</div>
    <div>@Model.Category</div>
    <div>@Model.Priority</div>
    <div>@Model.MinTimeToFinish</div>
    <div>@Model.MaxTimeToFinish</div>
    <div>@Model.OptimalTimeToFinish</div>
</div>
